body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  line-height: 1.5;
  background: #a82d08;
}

header h1 {
  text-align: center;
  margin-bottom: 2rem;
}

form {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

#search-input {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background: #007bff;
  color: rgb(12, 190, 230);
}

#results h2 {
  margin-top: 1rem;
}

#definitions p, #synonyms p {
  margin: 0.25rem 0;
}

.hidden {
  display: none;
}

#error-message {
  color: red;
  font-weight: bold;
  margin-top: 1rem;
}